version: '3'

services:
  bunnywords:
    container_name: bunnywords
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
